<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>

    </style>
</head>
<body>
<div id= "app">
<h1>To-Do</h1>
    <h2>Type something that you need to do and press enter!</h2>
<input type="text" v-model="newtodo" v-on:keyup.enter="add()"/>
    <ul>
        <li v-for="todo in todos">
            {{ todo }}
            <button type="button" v-on:click="remove(todo)">Delete</button>
        </li>
    </ul>
<button type="button" v-on:click="reset">Reset</button>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            newtodo: "",
            todos: [],
        },
        methods: {
            add: function () {
                this.todos.push(this.newtodo);
                this.newtodo = "";
            },
            reset: function () {
                this.todos = [];
            },
            remove: function (todo) {
                //alert(todo);
               var index = this.todos.indexOf(todo);
               this.todos[index] = '';
            }
        }

    });
</script>
</body>
</html>