<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/vue-typer/dist/vue-typer.min.js"></script>
    <style>
        li.complete {
            text-decoration: line-through;
        }
    </style>
</head>
<body>
<div id= "app">


<h1><vue-typer text='Todo List'></vue-typer></h1>
    <h2>Type something that you need to do and press enter!</h2>
<input type="text" v-model="newtodo" v-on:keyup.enter="add()"/>
    <ul>
        <li v-bind:class="{ complete: todo.complete }" v-for="todo in filteredTodos">

            {{ todo.text }}
            <button type="button" v-on:click="remove(todo)">Delete</button>
            <button type="button" v-on:click="complete(todo)">Complete</button>
         </li>
    </ul>
<button type="button" v-on:click="reset">Reset</button>
    <button type="button" v-on:click="visibility = 'complete'">Show complete</button>
    <button type="button" v-on:click="visibility = 'incomplete'">Show incomplete</button>
    <button type="button" v-on:click="visibility = 'all'">Show all</button>
</div>
<script>
    //var VueTyperPlugin = require('vue-typer').default;
    var VueTyperPlugin = window.VueTyper.default;
    Vue.use(VueTyperPlugin)

    var todoStorage = {
        fetch: function (){
            var todos = JSON.parse(localStorage.getItem('storage'));
            if (!todos){
                todos = [];
            }
            return todos;
        },
        save: function (todos) {
            var stringTodos = JSON.stringify(todos);
            console.log(stringTodos);
            localStorage.setItem('storage', stringTodos);


        }
    }

    var filters = {
        all: function(todos) {
            return todos;
        },
        complete: function(todos) {
            return todos;
        },
        incomplete: function(todos) {
            return todos;
        }
    };

    var app = new Vue({
        el: '#app',
        data: {
            newtodo: "",
            todos: todoStorage.fetch(),
            visibility: "all"
        },
        watch: {
            visibility:{
                handler: function(visibility){
                    alert(visibility)
                }
            },
            todos:{
                handler: function(todos){
                    todoStorage.save(todos)
                }
            }
        },
        computed: {
            filteredTodos: function () {
                var filtered =[];
                for (var todo of this.todos) {
                    if (todo.complete != true) {
                        filtered.push(todo);
                    }
                }
                console.log(filtered);
                console.log(this.todos);
                return filtered;
            }
        },
        methods: {
            add: function () {
                //this.todos.push(this.newtodo);
                this.todos.push({text: this.newtodo, complete: false});
                this.newtodo = "";
            },
            reset: function () {
                this.todos = [];
            },
            remove: function (todo) {
               //console.log(this.todos);
               var index = this.todos.indexOf(todo);
               this.todos.splice(index,1);
               //console.log(this.todos);
            },
            complete: function(todo) {
                //console.log(todo);
                todo.complete = true;
            }
        }

    });
</script>
</body>
</html>